* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
