@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(0, 0, 0, 0.7),
      /* Darker overlay */ rgba(0, 0, 0, 0.7)
    ),
    url("/bg4.jpg") no-repeat center center fixed;
  background-size: cover; /* Ensures the image fills the viewport */
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: 0 !important;
}

.center-container {
  position: fixed; /* Fixed to viewport */
  top: 80%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset by half width and height */
  display: flex;
  flex-direction: column; /* Stack the form elements */
  justify-content: center; /* Center elements vertically */
  align-items: center; /* Center elements horizontally */
  width: 300px; /* Adjust the width as needed */
  padding: 20px; /* Add padding around the container */
  border-radius: 8px; /* Optional rounded corners */

  z-index: 12; /* Ensure it is above the canvas */
  text-align: center;
}
.center-container input[type="text"] {
  width: 90%;
  padding: 10px; /* Add space inside the input */
  margin-bottom: 10px; /* Add space between the input and the button */
  font-size: 1rem;
  border: 1px solid #ccccccba;
  border-radius: 4px; /* Rounded corners */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle inset shadow */
}

.center-container input[type="text"]:focus {
  outline: none; /* Remove the default blue outline */
  border: 2px solid #9d3636; /* Customize the border color */
  box-shadow: 0 0 5px #9d3636; /* Optional: Add a glow effect */
}
input:disabled,
button:disabled {
  background-color: #ccccccba; /* Gray background */
  color: #666; /* Gray text */
  cursor: not-allowed; /* Disabled cursor */
}

form#checkForm[disabled] {
  opacity: 0.5; /* Indicate the form is disabled */
}

.button {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border-width: 0;
  padding: 0 8px 12px;
  min-width: 10em;
  box-sizing: border-box;
  background: transparent;
  font: inherit;
  cursor: pointer;
}

.button-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  padding: 8px 16px;
  transform: translateY(0);
  text-align: center;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
  transition-property: transform;
  transition-duration: 0.2s;
  -webkit-user-select: none;
  user-select: none;
  letter-spacing: 2px;
}

.button:active .button-top {
  transform: translateY(6px);
}

.button-top::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  background-image: radial-gradient(#9d3636, #9d3636);
  text-align: center;
  color: #fff;
  box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.2),
    0 1px 2px 1px rgba(255, 255, 255, 0.2);
  transition-property: border-radius, padding, width, transform;
  transition-duration: 0.2s;
}

.button:active .button-top::after {
  border-radius: 6px;
  padding: 0 2px;
}

.button-bottom {
  position: absolute;
  z-index: -1;
  bottom: 4px;
  left: 4px;
  border-radius: 8px / 16px 16px 8px 8px;
  padding-top: 6px;
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  box-sizing: content-box;
  background-color: #9d3636;
  background-image: radial-gradient(
      4px 8px at 4px calc(100% - 8px),
      rgba(255, 255, 255, 0.25),
      transparent
    ),
    radial-gradient(
      4px 8px at calc(100% - 4px) calc(100% - 8px),
      rgba(255, 255, 255, 0.25),
      transparent
    ),
    radial-gradient(16px at -4px 0, white, transparent),
    radial-gradient(16px at calc(100% + 4px) 0, white, transparent);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5),
    inset 0 -1px 3px 3px rgba(0, 0, 0, 0.4);
  transition-property: border-radius, padding-top;
  transition-duration: 0.2s;
}

.button:active .button-bottom {
  border-radius: 10px 10px 8px 8px / 8px;
  padding-top: 0;
}

.button-base {
  position: absolute;
  z-index: -2;
  top: 4px;
  left: 0;
  border-radius: 12px;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.75),
    inset 0 2px 2px rgba(0, 0, 0, 0.25);
}
.left-container {
  position: absolute;
  display: flex;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  max-height: 70%;
  width: 400px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  z-index: 12;
}
.right-container {
  position: absolute;
  display: flex;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  max-height: 70%;
  width: 400px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  z-index: 12;
}
/* Container styling */
.output-container {
  position: relative;
  /* top: 50%;
  right: 20px;
  transform: translateY(-50%); */
  width: 400px;
  max-height: 40%;
  overflow-y: auto;
  /* background-color: #ffffff; */
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* padding: 10px; */
  font-family: "roboto-regular";
  z-index: 100;
  /* Glassmorphism styles */
  background: rgba(255, 255, 255, 0.15); /* Transparent white background */

  border-radius: 4px; /* Rounded corners */
  backdrop-filter: blur(10px); /* Background blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  scrollbar-width: thin; /* Makes the scrollbar narrower */
  scrollbar-color: #9d3636 transparent;
}
.output-container::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
  background: transparent; /* Make the corner invisible */
}
.output-container::-webkit-scrollbar-corner {
  background: transparent; /* Make the corner invisible */
}
.output-container h2 {
  text-align: center;
  color: white;
  padding: 0.5em 0.5em;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.75);
}

/* Leaderboard item styles */
.leaderboard-item {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.4;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Subtle shadow for text */
}

/* Alternating light and dark styles */
.leaderboard-item.light {
  background-color: #9d36367c;
  color: white;
}

.leaderboard-item.dark {
  background-color: #9d3636;
  color: white;
}

/* Bold styles for labels */
.leaderboard-item strong {
  font-weight: bold;
}

/* Form Container */
.form-container {
  display: flex;
  flex-direction: column; /* Keep elements stacked */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically (optional) */
  margin-top: 5px;
  padding: 10px;
  width: 400px;
  background: rgba(255, 255, 255, 0.15); /* Match output-container style */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  backdrop-filter: blur(10px); /* Glass effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}

/* Form Label */
.form-container label {
  /* margin-bottom: 100px; */
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 20px;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.75);
}

/* Form Input */
.form-container input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  color: #000000e0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
.form-container input[type="text"]:focus {
  outline: none; /* Remove the default blue outline */
  border: 2px solid #9d3636; /* Customize the border color */
  box-shadow: 0 0 5px #9d3636; /* Optional: Add a glow effect */
}
/* Form Button */
.form-container button {
}
.form-container form {
  width: 100%; /* Ensure the form stretches to container width */
  text-align: center;
}

.form-container button {
  /* margin-top: 5px; Add spacing between the input and the button */
  text-align: center;
}
.ca {
  position: absolute;
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  z-index: 15 !important; /* Ensure it stays on top */
  /* width: 40em; */
  margin: 10px;
  left: 50%; /* Center horizontally */
  transform: translateX(
    -50%
  ); /* Offset by half its width
  /* border-radius: 5px; */
  padding: 0.5em 0.5em;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: #00000094;

  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 90%;
  background: rgba(255, 255, 255, 0.15);

  border-radius: 4px; /* Rounded corners */
  backdrop-filter: blur(10px); /* Background blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
.ca p {
  font-size: 1rem;
  font-weight: bold;
  /* text-transform: uppercase; */
  text-align: center;
  color: white;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 1);
}
.Rules {
  position: relative;
  /* top: 50%; */
  left: 20px;
  /* transform: translateY(-50%); */
  width: 400px;
  margin-bottom: 20px;
  max-height: 50%;
  overflow-y: auto;
  /* background-color: #ffffff; */
  /* border: 1px solid #ccc; */
  border-radius: 8px;

  padding: 10px;
  font-family: "roboto-regular";
  z-index: 100;
  /* Glassmorphism styles */
  background: rgba(255, 255, 255, 0.15); /* Transparent white background */

  border-radius: 4px; /* Rounded corners */
  backdrop-filter: blur(10px); /* Background blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  scrollbar-width: thin; /* Makes the scrollbar narrower */
  scrollbar-color: #9d3636 transparent;
  color: white;
}
.Rules h2 {
  text-align: center;
  color: white;
  padding: 0.5em 0.5em;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.75);
}
.Rules p {
  font-size: 0.95rem;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.75);
}
.Rules h2,
.Rules h3,
.Rules h4 {
  padding: 0.5em 0;
  /* margin-top: 15px; */
  font-weight: bold;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.75);
}
.Rules ul {
  margin: 10px 0;
  padding-left: 20px;
  list-style-type: disc;
}
.connect-Account {
  font-family: "roboto-regular";
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  background-color: #f0f4f7;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  width: auto;
  max-width: 200px; /* Set a max width for Connect button */
  margin: 0;
}

.connect-Account svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  fill: #000;
}
@media (max-width: 768px) {
  .output-container {
    visibility: hidden;
  }
  .ca {
    max-width: 90%;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0);
    margin: 0;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
}
